In [2]:
# Import Libraries
import mysql.connector
import pandas as pd
from mysql.connector import Error

In [3]:
def create_server_connection(host_name, user_name, user_password):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")
    return connection

In [4]:
#Put our MySQL Terminal password
pw = "vyvi1234"
# Database name
db = "mysql_python"
connection = create_server_connection("localhost", "root", pw)

MySQL Database connection successful

In [5]:
#create mysql_python

def create_database(connection, query):
    cursor = connection.cursor() #used to execute statements to connect to database. 
    try:
        cursor.execute(query)
        print("Database created successfully")
    except Error as err:
	    print(f"Error : '{err}'")

create_database_query = "CREATE DATABASE mysql_python"
create_database(connection, create_database_query)

Error : '1007 (HY000): Can't create database 'mysql_python'; database exists'

In [6]:
#connect to database

def create_db_connection(host_name, user_name, user_password, db_name):
   connection = None
   try:
       connection = mysql.connector.connect(
       host = host_name,
       user = user_name,
       passwd = user_password,
       database = db_name)
       print("MySql database connection successful")
   except Error as err:
      print(f"Error: '{err}'")
   return connection

In [7]:
#execute sql queries

def execute_query(connection, query):
   cursor = connection.cursor()
   try:
       cursor.execute(query)
       connection.commit() #change made are consistent
       print("Query was successful")
   except Error as err:
       print(f"Error : '{err}'")

In [8]:
Username_password_table = """
CREATE TABLE USER_PASSWORD(
username varchar(255),
password varchar(255)
);"""

connection = create_db_connection('localhost','root',pw,db)
execute_query(connection,Username_password_table)

MySql database connection successful
Error : '1050 (42S01): Table 'user_password' already exists'

In [9]:
#insert data 

data_orders = """
INSERT INTO USER_PASSWORD VALUES
('sreekku','12345678'),
('vyvi','87654321');"""

connection = create_db_connection('localhost','root',pw,db)
execute_query(connection,data_orders)

MySql database connection successful
Error : '1062 (23000): Duplicate entry 'sreekku' for key 'user_password.PRIMARY''

In [10]:
def read_query(connection, query):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except Error as err:
        print(f"Error : '{err}'")

In [11]:
#using the select table

q1 = """SELECT * FROM USER_PASSWORD;"""

connection = create_db_connection('localhost','root',pw,db)

results = read_query(connection,q1)

print(results)

MySql database connection successful
[('sreekku', '12345678'), ('vyvi', '87654321')]

In [12]:
q2 = """ALTER TABLE USER_PASSWORD
ADD PRIMARY KEY (username);"""
execute_query(connection,q2)

Error : '1068 (42000): Multiple primary key defined'

In [13]:
q3 = """DROP TABLE USER_PASSWORD;"""
execute_query(connection,q3)

Query was successful